
{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>RIT PLACEMENT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
</head>
<body>
 
<!-- End vertical navbar -->
{% block maincontent %}
<div class="rit"></div>

<!-- Page content holder -->
<div class="page-content p-5 " id="content">
  <!-- Toggle button -->
  <div class="sidebarCollapse">
    <button id="sidebarCollapse" type="button" class="btn btn-light  rounded-pill shadow-sm px-4 "><i  class="fa fa-bars mr-2 toggleicon"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
    <a href="" hidden id="django-message">{{message|default:0}}</a>
</div>
<br><br>

<div class="row">
  

  <div class="container">
      <h1>Add Student</h1>

      <form method="post" action="{% url 'change_password' %}">
          {% csrf_token %}
          <label for="student_regno">Student Regno:</label>
          <input type="text" id="student_regno" name="student_regno" required><br><br>

       

          <label for="student_password">Password:</label>
          <input type="password" id="student_password" name="student_password" required><br><br>

          <button type="submit">Submit</button>
      </form>
  </div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

<!-- End demo content -->
</body>
</html>