{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Ramco Institute of Technology</title>
    <style>
        body {
            background-image: url("static/images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="rit"></div>
    <img src="{% static 'images/rit.jpg' %}" alt="RIT Logo">
    <div class="container">           
        <br>
        <a href="{% url 'index' %}">
            <button class="btn btn-primary">Home</button>
        </a>
        <b style="color: crimson;"> To set password, give register no and  xx as password</b>

        <div class="container container-login" style="margin-top: 100px; font-size: larger;">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2>Student Login </h2>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="regno">Registration Number</label>
                            <input type="text" class="form-control" id="regno" name="regno" placeholder="Enter your Registration Number" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
