<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>RIT PLACEMENT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
    <link rel="stylesheet" href="{% static 'css/samplefromstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablestyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    
   
</head>

<body>
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <img decoding="async" src="/static/images/1.png" alt="..." width="80" height="80" class="mr-3  img-thumbnail shadow-sm">
      <div class="media-body">
          <h4 class="m-0" id="department-name">
           RIT
          </h4>
        <p class="font-weight-normal text-muted mb-0">Placement</p>
        
        <!-- <p class="font-weight-normal text-muted mb-0">For {{role}}</p> -->
      </div>
    </div>
  </div>
 
  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"><a href="" style="text-decoration: none;">Dashboard</a></p>

  <ul class="nav flex-column bg-white mb-0">

    <li class="nav-item">
      <a href="{% url 'analytics_dashboard' %}" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Analytics Dashboard
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'admin_company' %}" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                All Company's
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'wishlist' %}" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Wishlist
            </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'filter_dashboard' %}" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Filter Dashboard
            </a>
    </li>
   
    <li class="nav-item">
      <a href="{% url 'add_company' %}" id="add-company-btn" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Add Company
            </a>
    </li>
    <li class="nav-item">
      <a href="#" id="placementButton" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Placement
            </a>
    </li>
    <li class="nav-item">
      <a href="#" id="add-student-btn" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Add Student
            </a>
    </li>
    <li class="nav-item">
      <a href="#" id="add-student-whole-btn" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Import Student
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'add_staff' %}" id="add-student-whole-btn" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Add Staff
            </a>
    </li>
               
      <a  href="{% url 'logout' %}" class="nav-link text-dark"><button>
                Logout </button>
            </a>
          
    </li>
  </ul>

</div>
<!-- End vertical navbar -->
{% block maincontent %}
{% endblock %}


<!-- End demo content -->
<script>
  function logout() {
      // Clear session storage
      sessionStorage.clear();

      // Clear browser history
      window.location.replace('/login');  // Redirect to login page
      window.history.forward();
  }
</script>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>


