Style.css
body {
  /* background: #599fd9; */
  /* background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% ); */
  background-image: linear-gradient( 135.9deg,  rgba(233, 230, 238, 0.74) 16.4%, rgba(227, 219, 230, 0.897) 56.1% );
  min-height: 100vh;
  overflow-x: hidden;
 
}
 .vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
} 
.file_up_down{

  display: flex;
  justify-content: space-between;
}

.file_up_down input{
  margin-left: 1rem;
  width: fit-content;
    
}
 #sidebarCollapse{
  background-image: linear-gradient( 135.9deg,  rgb(134, 107, 180) 16.4%, rgb(108, 85, 117) 56.1% ); 
} 
.sidebarCollapse{
  width:100% ;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  height: fit-content;
  top: 0;
  background-image: linear-gradient( 135.9deg,  rgb(5, 143, 255) 16.4%, rgb(5, 143, 255) 16.4%);
  color: #fff;
  padding: 10px 2px;
  /* text-align: center; */
  z-index: 1000; 
}
#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}
.toggleicon{
  color: #fff;
}
.text-uppercase {
  letter-spacing: 0.1em;
  color: #fff;
}
.text-gray {
  color: #aaa;
}
.nav-link{
    text-transform: capitalize;

}
.nav-link:hover{
    background:#f3f2f2;
}
.text-primary{
    /* color:#7579e7 !important; */
    color: black;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
.popup {
  display: none;
  background-color: #fff;
  color: #333;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#close-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}